*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 5s ease;
    font-size: 4rem;
    display: none;
}
.show{
    opacity: 1;
    z-index: 2;
    display: block;
}

section{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: (14,1fr);
    transition: all 4s ease;
}

.row{
    background: white;
    transition: all 1s ease;
}
.color{
    background: lightblue;
}